@charset "utf-8";
/* CSS Document of Cancer Surgery India - by Shani Shashidharan */
//mixins by Shani 
@mixin hover {  
    @include transition(color 0.6s linear);
    &:hover {
        color: #ee2e2d;
        @include transition(color 0.6s linear);  
    } 
    &:focus {
        color: #ee2e2d;
        @include transition(color 0s linear);     
    }
    &:active {
        color: #BC100F; 
        @include transition(color 0s linear);
    }
} 

@mixin hovers($obj1, $obj2) {
    text-decoration: none;
    @include transition(color 0.6s linear); 
    &:hover, &:focus {
        color: $obj1;
        text-decoration: none;
        outline: none;
    }
    &:active { 
        color: $obj2;
        text-decoration: none;
        outline: none;
        @include transition(color 0s linear); 
    }
}

@mixin bghover($obj1, $obj2) {
    &:hover,
    &:focus {
        background-color: $obj1;
    }
    &:active {
        background-color: $obj2;
    }
}

@mixin bghovers($obj1, $obj2) {
    @include transition(color 0.6s linear); 
    &:hover,
    &:focus {
        background-color: $obj1;
        @include transition(color 0.6s linear);
    }
    &:active {
        background-color: $obj2;
        @include transition(all 0s linear); 
    }
}

@mixin btn_1($bgcolor, $bdr1, $bdr2, $hbrd1, $hbrd2) {
    font-weight: 600;
    display: block;
    background-color: $bgcolor;
    border: thin solid;
    border-color: $bdr1 $bdr2 $bdr2 $bdr1;  
    &:hover, &:focus{ 
        text-decoration: none;
        border-color: $hbrd1 $hbrd2 $hbrd2 $hbrd1;
        box-shadow: none;
        outline: none;
    }
    &:active{
        border-color: $hbrd2 $hbrd1 $hbrd1 $hbrd2; 
        box-shadow: 0px 0px 5px 3px #D2D2D2 inset;
        @include transition(all 0s linear);
    }
}
@mixin btn_hover {
    @include transin_all; 
    &:hover,
    &:focus {
        color: #18253F;
        background-color: #ee2e2d;
    }
    &:active {
        color: #18253F;
        background-color: #ee2e2d;
        @include box-shadow(inset 1px 1px 3px 2px rgba(0, 0, 0, 0.15));
        @include transition(all 0s linear);
    }
}

@mixin btn_hovers($obj1, $obj2) {
    @include transin_all;
    &:hover,
    &:focus {
        color: $obj1;
        background-color: #ffffff;
        @include transin_all;
    }
    &:active {
        color: $obj2;
        background-color: #ffffff;
        @include transition(all 0s linear);
    }
}

@mixin abs {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
} 

@mixin fixed {
    position: fixed; 
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

@mixin transin_all {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin form_elem($obj) {
    select::-ms-expand {
        display: none;
    }
    input::-webkit-input-placeholder {
        color: $obj;
    }
    input::-moz-placeholder {
        color: $obj;
    }
    input:-ms-input-placeholder {
        color: $obj;
    }
    input:-moz-placeholder {
        color: $obj;
    }
    textarea::-webkit-input-placeholder {
        color: $obj;
    }
    textarea::-moz-placeholder {
        color: $obj;
    }
    textarea:-ms-input-placeholder {
        color: $obj;
    }
    textarea:-moz-placeholder {
        color: $obj;
    }
}

@mixin apperance($obj) {
    -webkit-appearance: $obj;
    -moz-appearance: $obj;
}

@mixin linear-gradient-H($obj, $obj2, $obj3) {
    background-image: -webkit-linear-gradient($obj - 90 + deg, $obj2, $obj3);
    background-image: -o-linear-gradient($obj + deg, $obj2, $obj3);
    background-image: linear-gradient($obj + deg, $obj2, $obj3);
}

@mixin linear-gradient-V($obj, $obj2, $obj3) {
    background-image: -webkit-linear-gradient($obj + 90 + deg, $obj2, $obj3);
    background-image: -moz-linear-gradient($obj + deg, $obj2, $obj3);
    background-image: -o-linear-gradient($obj + deg, $obj2, $obj3);
    background-image: linear-gradient($obj + deg, $obj2, $obj3);
}
 
@mixin linear-gradient-to($obj, $obj2, $obj3) {
    background-image: -webkit-linear-gradient($obj, $obj2, $obj3);
    background-image: -moz-linear-gradient($obj, $obj2, $obj3);
    background-image: -o-linear-gradient($obj, $obj2, $obj3);
    background-image: linear-gradient($obj, $obj2, $obj3);
}

@mixin radial-gradient($obj, $obj2, $obj3, $obj4) {
    background-image: -webkit-radial-gradient($obj, $obj2, $obj3, $obj4);
    background-image: -moz-radial-gradient($obj, $obj2, $obj3, $obj4);
    background-image: -o-radial-gradient($obj, $obj2, $obj3, $obj4);
    background-image: radial-gradient($obj, $obj2, $obj3, $obj4);
}

@mixin border-radius($color) {
    -webkit-border-radius: $color;
    -moz-border-radius: $color;
    border-radius: $color;
}

@mixin transform($prop) { 
    -webkit-transform: $prop;
    -moz-transform: $prop;
    -ms-transform: $prop;
    -o-transform: $prop;
    transform: $prop;
}

@mixin transform-origin($prop) {
    -webkit-transform-origin: $prop;
    -moz-transform-origin: $prop;
    -ms-transform-origin: $prop;
    -o-transform-origin: $prop;
    transform-origin: $prop;
}

@mixin box-shadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}

@mixin box-shadow2($val, $val2) {
    -webkit-box-shadow: $val, $val2;
    -moz-box-shadow: $val, $val2;
    box-shadow: $val, $val2;
}

@mixin animation($anim1) {
    -webkit-animation: $anim1;
    -moz-animation: $anim1;
    -o-animation: $anim1;
    animation: $anim1;
}

@mixin outline($obj) {
    outline: $obj;
    &:focus {
        outline: $obj;
    }
}

@mixin backface-visibility($obj) {
    -webkit-backface-visibility: $obj;
    -moz-backface-visibility: $obj;
    backface-visibility: $obj;
}

@mixin user-select($obj) {
    -ms-user-select: $obj;
    -webkit-user-select: $obj;
    -moz-user-select: $obj;
    user-select: $obj;
}

@mixin hyphens($obj) {
    -webkit-hyphens: $obj;
    -moz-hyphens: $obj;
    -ms-hyphens: $obj;
    hyphens: $obj;
}

@mixin flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
}

@mixin fleximp {
  display: -webkit-box!important;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box!important;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox!important;      /* TWEENER - IE 10 */
  display: -webkit-flex!important;     /* NEW - Chrome */
  display: flex!important;
}

@mixin flexin($obj) {
    -webkit-flex: $obj;
    -ms-flex: $obj;
    flex: $obj;
}

@mixin flex-direction($obj) {
    -webkit-flex-direction: $obj;
    -ms-flex-direction: $obj;
    flex-direction: $obj;
}

@mixin align-items($obj) {
    -webkit-align-items: $obj;
    align-items: $obj;
}

@mixin space-between {
    @include justify-content(space-between);
}

@mixin scrollbar($obj1, $obj2, $obj3, $obj4, $obj5) {
    ::-webkit-scrollbar {
        width: $obj1;
        height: $obj2;
    }
    ::-webkit-scrollbar-track {
        background: $obj3;
        border: none;
    }
    ::-webkit-scrollbar-thumb {
        background-color: $obj4;
        display: block;
        @include border-radius(6px);
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background-color: $obj5;
    }
}

@mixin select {
    select::-ms-expand {
        display: none;
    }
}

@mixin justify-content($obj) {
    -webkit-justify-content: $obj;
    justify-content: $obj;
}

@mixin filter($obj) {
    -webkit-filter: $obj;
    filter: $obj;
}

@mixin activebtn {
    @include box-shadow(inset 1px 1px 3px 2px rgba(0, 0, 0, 0.15));
    @include transition(all 0s);
}

@mixin activetrans {
    @include transition(all 0s);
}

@mixin background-size ($obj) {
    -webkit-background-size: $obj;
    -moz-background-size: $obj;
    -o-background-size: $obj;
    background-size: $obj;
}
@mixin bgim {
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(cover);
}

@mixin bgimtop {
    background-position: center top;
    background-repeat: no-repeat;
    @include background-size(cover);
}

@mixin bgbefore($obj) {
    &:before {
        content: " ";

        background-color: $obj;
        @include abs;
        z-index: 1;
    }
}

@mixin abscenter{
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%, -50%));
}

@mixin cols($ob1){
    $ob2: $ob1 - 2;
    @debug $ob2;
    .cols-#{$ob1}{ 
        width: #{$ob2}#{"%"};
        flex: 0 0 #{$ob2}#{"%"};
        @media (max-width: 576px){
            width: 100%;
            flex: 0 0 100%;
        }
    }
}

@import url("../webfonts/csi-fonts.css");
body { 
    padding: 0px;
    margin: 0px;
    line-height: normal;
    background-color: #F3F3F3;
    font-size: 10px;
    .container {
        max-width: 90%;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
#csi_cover_wrap {
    background-image: url(../images/background-assets/background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow: hidden;
}
//Header
#csi_hd_1 {
    font-size: 130%;
    color: #FEC91B;
    text-decoration: none;
    background-color: #002B51;
    margin: 0px;
    padding: calc(6em/13) 0px;
    outline: none;
    a, #date {
        color: #F0F0F0;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding-right: calc(6em/13);
        padding-left: calc(6em/13);
        outline: none;
    }
    a{
        &:hover, &:focus{
            color: #FEC91B;
        }
        &:active{
            color: #D2A100;
        }
    }
}
#csi_hd_2 {
    background-color: rgba(254,201,27,0.96);
    padding: 0px;
    .logo {
        display: block;
        width: 100%;
        padding: 1.6em 1.6em 0.8em;
        position: relative;
        outline: none;
        img {
            width: 100%;
            height: auto;
        }
        &:focus{
            &:before{
                content: "";
                @include abs;
                box-shadow: 0px 0px 0.5em 0.5em #eab60b inset;
            }
        }
    }
}
#csi_features1 {
    display: block;
    position: relative;
    outline: none;
    &:before {
        content: "";
        background: none;
        border: 0.6em solid #eab60b;
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 1;
    }
    img {
        width: 100%;
    }
    &:focus{
        &:before{
            content: "";
            @include abs;
            box-shadow: 0px 0px 0.6em 0.6em #F4C21B inset;
        }
    }
}
#animation_container {
    width: 100%!important;
    height: 100%!important;
    canvas {
        width: 100%!important;
        height: 100%!important;
    }
}
#csi_hd_3 {
    background-color: rgba(0,43,81,0.82);
    color: #F0F0F0;
    text-decoration: none;
    margin: 0px;
    font-size: 140%;
    padding: calc(15em/14);
    a {
        font-family: "Trajan Pro";
        font-weight: bold;
        margin: calc(5em/14);
        padding: calc(12em/14);
        display: inline-block;
        border: thin outset #FEC91B;
        color: #FFFFFF;
        text-decoration: none;
        background-color: #002342;
        outline: none;
        &:hover, &:focus{
            color: #FEC91B;
            background-color: #002342;
        }
        &:active{
            border-style: inset;
        }
    }
}
#csi_navbar {
    flex-wrap: nowrap;
    justify-content: center;
}
header .navbar {
    font-family: "Trajan Pro";
    margin: 0px;
    padding: 0px;
    background-color: #C5C5C5;
    font-weight: normal;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #9d9d9d;
    a, .form-control, .btn {
        font-size: 120%;
        font-weight: bold;
        color: #240355;
        text-align: left;
        text-decoration: none;
        white-space: nowrap;
        background-color: #cfcfcf;
        border-radius: 0px;
        margin: 0px;
        padding: 0.5em 1em;
        border: thin outset #98a3d0;
        height: auto;
        line-height: normal;
        outline: none;
    }
    a, .btn{
        &:hover, &:focus{
            background-color: #dbdbdb;
            outline: none;
            box-shadow: none;
        }
        &:active{
            background-color: #cfcfcf;
            border: thin inset #98a3d0;
        }
    }
    .navbar-toggler {
        font-size: 120%;
        width: 100%;
        text-align: center;
        background-color: #cfcfcf;
        border: thin inset #98a3d0;
        border-radius: 0px;
        outline: none;
        padding: 0.5em 1em;
        .navbar-toggler-icon{
            &:before{
                font-family: 'csi';
                content: "\e904";
                color: #ABABAB;
                display: block;
                margin: 0.25em;
                text-shadow: 0px 1px 0px #98a3d0;
            }
        }
        &.collapsed{
            border-style: outset;
            .navbar-toggler-icon{
                &:before{
                    content: "\e902";
                }
            }
        }
    }
    .navbar-nav .nav-link {
        padding: 0.5em 1em;
    }
    .form-inline {
        width: 100%;
        flex-wrap: nowrap;
        .form-control {
            width: 100%;
            background-color: #ffffff;
            &:focus{
                box-shadow: none;
            }
        }
    }
}
//Mains
#csi_cover_wrap main {
    font-size: 100%;
    background-color: #E9E9E9;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 3em 0px;
    line-height: normal;
}
.csi_main {
    padding: 0.8em 0px 0px;
    background-color: #ffffff;
    position: relative;
    &:before {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background-color: #e3e3e3;
        content: "";
        display: block;
        height: 0.8em;
        border: 1px outset #ffffff;
    }
}

/*Left Menu*/
#csi_menu_left {
    font-family: Verdana, sans-serif;
    font-style: normal;
    font-size: 110%;
    ul, ul li {
        display: block;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
    ul li a {
        color: #333333;
        font-weight: normal;
        background-color: #E3E6E9;
        display: block;
        padding: calc(6em/11) calc(12em/11);
        line-height: normal;
        border: 1px outset #ffffff;
        text-decoration: none;
        &:hover, &:focus{
            background-color: #ebedef;
            outline: none;
        }
        &:active{
            background-color: #E3E6E9;
            border-style: inset;
        }
    }
}

/*Main contents*/
#csi_content_area {
    font-size: 150%;
    font-family: 'Lora';
}
#csi_content {
    padding: calc(35em/15);
    color: #333333;
     h1 {
        font-size: 160%;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: calc(12em/24);
    }
     h2 {
        font-size: 130%;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: calc(12em/19.5);
    }
     p {
        font-weight: 400;
        margin-bottom: calc(15em/12);
    }
     ul {
        font-size: 100%;
    }
     ul li {
        font-size: 100%;
    }
    *:last-child{
        margin-bottom: 0px;
    }
     .csi-card-columns {
        margin-top: calc(15em/12);
        margin-right: 0px; 
        margin-bottom: calc(15em/12);
        margin-left: 0px;
        border: thin dotted #ABDD22;
        padding: calc(25em/12) calc(25em/12) calc(25em/12) calc(40em/12);
        font-size: 80%;
    }
    .csi-columns-3 {
        column-count: 3;
        column-gap: calc(80em/12);
        column-rule: thin dotted #ABDD22;
        column-fill: balance;
        h2 {
            margin-top: calc(24em/15.6);
            margin-bottom: calc(6em/15.6);
            position: relative;
            &:before {
                font-family: 'csi';
                font-size: 66%;
                content: "\e900";
                color: #FEC91B;
                display: block;
                position: absolute;
                left: calc(-15em/10.296);
                top: calc(4em/10.296);
            }
            &:first-child{
                margin-top: 0px;
            }
         }
        p {
            margin: 0px 0px calc(6em/12);
            img {
                margin: 0px;
                border: thin solid;
                border-color: #dddd22 #c7c41f #c7c41f #dddd22;
            }
        }
        ul {
            padding: 0px;
            margin: 0px 0px calc(6em/12);
            &:last-child{
                margin: 0px;
            }
            &.d-flex{
                li {
                    display: inline-block;
                    margin-right: calc(6em/12);
                }
            }
            li {
                display: block;
                list-style: none;
                position: relative;
                a{
                    margin-left: calc(12em/12);
                    display: block;
                    &:before{
                        content: "";
                        display: block;
                        background: none;
                        width: calc(6em/12);
                        height: calc(6em/12);
                        border: 1px solid #fec91b;
                        border-radius: 100%;
                        position: absolute;
                        left: calc(1em/12);
                        top: calc(4em/12);
                    }
                }
            }
        }
        a {
            color: #000000;
            text-decoration: none;
            outline: none;
            &:hover, &:focus {
                color: #5466b0;
                text-decoration: underline;
            }
            &:active {
                color: #435392;
                text-decoration: none;
            }
        }
    }
}

/*Menu Right*/
#csi_menu_right {
    border-top: 1px dotted #ababab;
    padding: calc(25em/15);
    h2 {
        font-size: 120%;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: calc(6em/18);
    }
    p {
        margin: 0px 0px calc(6em/15);
    }
    img {
        margin: 0px;
        border: medium solid;
        border-color: #DADADA #C7C7C7 #C7C7C7 #DADADA;
    }
    ul {
        font-size: 100%;
        list-style: none;
        padding: 0px;
        margin: 0px 0px calc(6em/15);
    }
    ul li {
        font-size: 100%;
        display: block;
        padding: 0px;
        margin: 0px;
    }
    a {
        color: #333;
        text-decoration: none;
        &:hover, &:focus {
            color: #C0003B;
            text-decoration: underline;
            outline: none;
        }
        &:active {
            color: #790025;
            text-decoration: none;
            outline: none;
        }
        &.btn{
            font-size: 90%;
            font-weight: 600;
            display: block;
            padding: calc(6em/13.5);
            @include btn_1(#ebebeb, #DADADA, #C7C7C7, #E1CED7, #C8B0B0);
        }
    }
}

.csi_content_right {
    padding: 0px 0px calc(18em/15);
}

/*footer section*/
footer {
    color: #333333;
    background-color: #F3F3F3;
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: "TrajanPro Bold";
    font-size: 100%;
    border-top: 1px solid #DADADA;
    h2 {
        font-size: 125%;
        font-weight: bold;
    }
    p {
        font-size: 100%;
    }
    h2{
        color: #222222;
        margin-bottom: calc(6em/15);
    }
    p{
        color: #222222;
        margin-bottom: calc(6em/12);
    }
    ul{
        font-size: 100%;
        padding: 0px;
        margin: 0px 0px calc(6em/12);
        li{
            font-size: 100%;
            display: block;
            position: relative;
            padding: 0px 0px 0px calc(25em/12);
            list-style: none;
            a:before{
                font-family: 'csi';
                font-size: 70%;
                content: "\e900";
                position: absolute;
                left: calc(12em/8.4);
                top: calc(3em/8.4);
                color: inherit;
            }
        }
    }
    a {
        color: #222222; 
        text-decoration: none;
        @include hovers(#0056b3, #004591);
        &.btn{
            font-size: 90%;
            font-weight: 600;
            display: block;
            padding: calc(6em/10.8);
            margin-top: calc(12em/10.8);
            @include btn_1(#ebebeb, #DADADA, #C7C7C7, #CFDBE1, #B0C0C8);
            &:hover, &:focus{
                color: #0056b3;
            }
            &:active{
                color: #004591;
            }
        }
    }
    sup{
        font-family: "Gill Sans", "Gill Sans MT", Arial, "sans-serif";
        font-size: 84%;
        color: #636363; 
    }
    .resources_secn1{
        font-family: 'Lora';
        font-size: 120%;
        max-width: 25%;
        padding: calc(15em/12);
    }
    #csi_footer{
        padding: 3em 0px 1.5em;
    }
    #csi_cpyrts{
        padding: 3em 0px;
        background-color: #ffffff;
        border-top: 1px solid #DFDFDF;
    }
}


@media (max-width:567px) {
    #csi_content .csi-columns-3 {
        column-count: 1;
        column-rule: none;
    }
    footer .resources_secn1{
        max-width: 100%;
    }
}

@media (max-width:767px) and (min-width:568px) {
    #csi_content .csi-columns-3 {
        column-count: 2;
    }
    footer .resources_secn1{
        max-width: 50%;
    }
}

@media (min-width:992px) {
    
}
@media (max-width:991px) {
    #csi_navbar {
        padding: 2.5em;
    }
    #csi_content_area {
        margin: calc(30em/15) 0px 0px;
    }
    @media (min-width: 768px){
        footer .resources_secn1{
            max-width: 33%;
        }
    }
}
@media (min-width:1201px) {
    #csi_menu_right {
        border-top: none;
        border-left: 1px dotted #ababab;
        height: 100%;
        font-size: 100%;
    }
}
@media (max-width:1200px) {
    body .container {
        max-width: 98%;
    }
    @media (min-width: 567px){
        #csi_menu_right {
            border-top: 1px dotted #ababab;
        }
        .csi-right-columns{ 
            column-count: 3;
            column-fill: balance;
            orphans: 1;
            widows: 1;
            column-gap: calc(30em/15);
            .csi_content_right{
                display: inline-block;
                width: 100%;
            }
        }
    }
}

@media (max-width:374px) {
    body {
        font-size: 8px;
    }
}

@media (max-width:240px) {
    body {
        font-size: 6px;
    }
}

@media (min-width:1367px) {
/* relative responsive for higher screen is 1px = 0.731528895391368vw */
    
$highres: 0.731528895391368vw;
        
body {
    font-size: calc(10vw/1367 * 100);
}
body .container {
    max-width: 90%;
}
    
/*    Bootstrap rows and colums  */
[class*="col-"], body .container{
    padding-left: calc(15vw/1367 * 100);
    padding-right: calc(15vw/1367 * 100); 
}
body .row{
    margin-left: calc(-15vw/1367 * 100);
    margin-right: calc(-15vw/1367 * 100);
}
}

