/* Fonts CSS Document of Cancer Surgery India - by Shani */
@font-face {
	font-family: 'Trajan Pro';
	src: url('TrajanPro/TrajanPro-Bold.woff') format('woff'), url('TrajanPro/TrajanPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}
@font-face {
	font-family: 'Trajan Pro';
	src: url('TrajanPro/TrajanPro-Regular.woff') format('woff'), url('TrajanPro/TrajanPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
	font-family: 'TrajanPro Bold';
	src: url('TrajanPro_Bold/TrajanPro-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Lora';
    src: url('Lora/Lora-Regular.woff2') format('woff2'),
        url('Lora/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Lora';
    src: url('Lora/Lora-Italic.woff2') format('woff2'),
        url('Lora/Lora-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Black.woff2') format('woff2'),
        url('Poppins/Poppins-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ThinItalic.woff2') format('woff2'),
        url('Poppins/Poppins-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-BlackItalic.woff2') format('woff2'),
        url('Poppins/Poppins-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('Poppins/Poppins-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('Poppins/Poppins-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('Poppins/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Bold.woff2') format('woff2'),
        url('Poppins/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-BoldItalic.woff2') format('woff2'),
        url('Poppins/Poppins-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Light.woff2') format('woff2'),
        url('Poppins/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Italic.woff2') format('woff2'),
        url('Poppins/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-LightItalic.woff2') format('woff2'),
        url('Poppins/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-MediumItalic.woff2') format('woff2'),
        url('Poppins/Poppins-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Medium.woff2') format('woff2'),
        url('Poppins/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Regular.woff2') format('woff2'),
        url('Poppins/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('Poppins/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('Poppins/Poppins-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-Thin.woff2') format('woff2'),
        url('Poppins/Poppins-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
  font-family: 'csi';
  src:  url('icons/csi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.csi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'csi' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-internet:before {
  content: "\e9c9";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-show:before {
  content: "\e9ce";
}
.icon-hide:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-close-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-check:before {
  content: "\ea10";
}
.icon-checkbox:before {
  content: "\ea52";
}
.icon-radio:before {
  content: "\ea54";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-user-admin:before {
  content: "\e976";
}
.icon-list1:before {
  content: "\e900";
}
.icon-down:before {
  content: "\e902";
}
.icon-up:before {
  content: "\e904";
}
